@page "/"
@layout Layout.MainLayout

<PageTitle>Home</PageTitle>
<div class="container">
    <div class="row justify-content-center pt-5 pb-5">
        <div class="col-md-4 rounded shadow" style="background-color: white;">
            <div class="content p-3">
                <h1>Title</h1>
                <ul>
                    <li>text 1</li>
                    <li>text 2</li>
                    <li>text 3</li>
                </ul>
            </div>
        </div>
        
        <div class=col-md-1></div>

        <div class="col-md-6 rounded shadow">
            <iframe src='https://webchat.botframework.com/embed/XLNBotGroupB-bot?s=z645DlF3yHk.rrAh8wFvHKeYA_KxrU3ObNNebI1R3jxYw8q8HQJmWcc'  style='min-width: 400px; width: 100%; min-height: 100%; height: 700px'></iframe>
        </div>
    </div>
</div>
