@page "/"
@layout Layout.MainLayout

<PageTitle>Home</PageTitle>
<div class="container">
    <div class="row justify-content-center pt-5 pb-5">
        <div class="col-md-5 rounded shadow" style="background-color: white;">
            <div class="content p-3">
                <div class="row pt-5" >
                    <img src="assets/call_center_agent.png">
                </div>
                <div class="row pt-5">
                    <h1><strong>Welcome to XLN Support</strong></h1>
                    <p style="font-size: 22px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Sed efficitur libero et orci vulputate gravida. In eget pulvinar ante.
                        Nunc fringilla nisi vitae dui euismod, non pretium est mollis. Nulla. 
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-1"></div>

        <div class="col-md-5 rounded shadow" style="background: white">
            <iframe src='https://webchat.botframework.com/embed/XLNBotGroupB-bot?s=z645DlF3yHk.rrAh8wFvHKeYA_KxrU3ObNNebI1R3jxYw8q8HQJmWcc'  style='min-width: 400px; width: 100%; min-height: 500px; height: 700px'></iframe>
        </div>
    </div>
</div>
